<footer class="flex flex-col border-t border-secondary mt-16 py-6 gap-6 text-center">
  <div class="flex items-center justify-center gap-6">
    <a href="https://github.com/confused-Techie/" target="_blank"><i class="fab fa-github"></i></a>
  </div>
</footer>
<script src="/tw-elements/index.min.js"></script>
<script src="/public/site.js"></script>
</body>
</html>
