<!DOCTYPE HTML>
<html lang="en">
  <head>
    <title><%=page.name%></title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" />
    <link rel="stylesheet" href="/public/site.css" />
  </head>
  <body class="">
